<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.flickpay" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flickpay</name>
    <description>
        Hack the North 2014 - Making digital payments more fun
    </description>
    <author>
    	Eric Cheng, Peter Liu, and Nolan Lunscher
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
